:root {
    --bottomShadow: 0 8px 8px -4px rgb(0 0 0 / 0.2);
    --allShadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: bold;
    padding: 15px;
    box-shadow: var(--bottomShadow);
    position: sticky;
    top: 0;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap:10px;
    padding: 30px;
    justify-content: center;
}

.newBook {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
}

.newBook > button {
    padding: 10px;
    width: 12em;
    background-color: transparent;
    border:1px solid black;
    border-radius: 1.2em;
}

.newBook > button:hover {
    transform: scale(1.1);
}   

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
    filter: blur(1px);
}

.formContainer {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 300px;
    height: 300px;
    background-color: #FFFFFF;
    box-shadow: var(--allShadow);
    padding: 20px;
    border-radius: 1.2em;
}

.formInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:5px;
}

.formInformation > input {
    width: 290px;
    height: 20px;
    border-radius: 0.7em;
    border: 1px solid black;
}

.formInformation > div {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.formBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBtn > .submitBtn {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 1.2em;
    padding: 20px;
    width: 150px;
    margin-top: 20px;
}

.formBtn > button:hover {
    background-color: rgb(236, 236, 236);
}

.card {
    box-shadow: var(--allShadow);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
    border-radius: 1.2em;
}

.deleteBtn {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.6em;
    padding: 7px;
    width: 70%;
    margin-top: auto;
    margin-bottom: 10px;
    align-self: center;
}

.readBtn:hover,
.deleteBtn:hover {
    background-color: rgb(236, 236, 236);
}

.readBtn {
    background-color: transparent;
    border: 0px solid black;
    border-radius: 0.6em;
    padding:7px;
    width: 70%;
    align-self: center;
    margin-top: 4em;
}